<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GDS - Cart</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<iframe src="./navbar.html" frameborder="0"></iframe>
	
	<!-- Cart Header -->
	<center><h1>Shopping Cart</h1></center>
	
	<!-- Cart Contents -->
	<center>
		<p>Item 1</p>
		<p>Item 2</p>
		<p>Item 3</p>
	</center>
	
	<!-- Cart Buttons -->
	<center>
		<form action="http://localhost:8080">
    		<input type="submit" value="Continue Shopping"/>
    	</form>
    	<form action="/editTest">
    		<input type="submit" value="Edit Cart"/>
    	</form>
    	<form action="/checkout">
    		<input type="submit" value="Checkout"/>
		</form>
	</center>
</body>
</html>
