<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GDS - Cart</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<iframe src="./navbar.html" frameborder="0"></iframe>
	
	<!-- Cart Header -->
	<center><h1>Shopping Cart</h1></center>
	
	<!-- Cart Contents -->
	<center>
		<p>Item 1</p>
		<p>Item 2</p>
		<p>Item 3</p>
	</center>
	
	<!-- Cart Buttons -->
	<center>
		<button>Continue Shopping</button> 
		<button>Edit Cart</button>
		<button>Checkout</button>
	</center>
	
</body>
</html>
