<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GDS - Checkout</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<style>
   		* {
   			box-sizing: border-box;
   		}
   		
		/* Create two equal columns that floats next to each other */
		.column {
		    width: 150px;
		    display: inline-block;
		}
		
		/* Clear floats after the columns */
		.row {
			text-align: center
		}
	</style>
</head>
<body>
	<iframe src="./navbar.html" frameborder="0"></iframe>
	
	<!-- Checkout Header -->
	<center><h1>Checkout</h1></center>
	
	<!-- Shippinh Address -->
	<div class="row">
	    <h2>Shipping Address</h2>
		<!-- Text field labels -->
  		<div class="column">
    		<p>Name:<br>
    		Street:<br>
    		City:<br>
    		State:<br>
    		Postal Code:
		</div>
		<!-- Text fields -->
  		<div class="column">
  			<p></p>
    		<form>
    			<input type="text" name="Name" value="ex. Rowdy Roadrunner">
				<input type="text" name="Street" value="ex. 1 UTSA Circle">
				<input type="text" name="City" value="ex. San Antonio">
				<input type="text" name="State" value="ex. Texas">
				<input type="text" name="PostalCode" value="ex. 78249">
			</form>
  		</div>
	</div>
	<!-- Billing Info -->
	<div class="row">
		<h2>Billing Info</h2>
		<!-- Text field labels -->
  		<div class="column">
    		Name:</br>
    		Credit Card Number</br>
    		Expiration</br>
    		Security Code</br>
		</div>
		<!-- Text fields -->
  		<div class="column">
    		<form>
    			<input type="text" name="Name" value="ex. Rowdy Roadrunner">
				<input type="text" name="CreditCardNumber" value="ex. 1234 5678 9012 3456">
				<input type="text" name="Expiration" value="ex. 12/99">
				<input type="text" name="State" value="ex. 123">
    		</form>
  		</div>
	</div>
	<!-- Submit button -->
  		<center><button>Submit</button></center>
	
	<!-- Checkout Buttons -->
	<center>
		<form action="/cart">
    		<input type="submit" value="Return to Cart"/>
    	</form>
	</center>
</body>
</html>
