<!DOCTYPE HTML>
<html>
<head> 
    <title>Your Grocery Delivery System customer portal homepage!</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p><a href="/">Home</a></p>
    <p>Get your greeting <a href="/greetspage/greeting">here</a></p>
    <p>Say <a href="/hello">hello.</a></p> <!-- this will give greet a null value and 
    cause an error since the @REquestParameter requires the greet value to be defined-->
    <p>Say <a href="/hello?greet=hello">hello.</a></p> 
    <p>Say <a href="/hello?greet=hola">hola.</a></p> 
</body>
</html>
