<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GDS - Checkout</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
body {font-family: Arial, Helvetica, sans-serif;margin: 0;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/shop">Shop</a></li>
  <li><a class="active" href="/cart">Cart</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/search">Search</a></li>
</ul>

<center><h2>Product Page</h2></center>


</body>
</html>